body {
    padding: 0; /* removing padding */
    margin: 0;  /* removing margin */
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    position: fixed;
    top: 0;   
    left: 0;
    z-index: 500;/* above or below the element */
    width: 100%;
    height: 80px;
    background-image: url('images/wood-bg.png');
    background-repeat: repeat-x;/* repeat on the x axis*/

}

#header > img { /*image changes within the header */
    display: block;
    margin: auto;
    height: 75%;/*the img should take 70% of that 80px */
    padding-top: 15px;
}

#tabs-top {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: chartreuse;
    /*padding: 5px;*/
}

#tabs-top > a {
    float: left;
    display: block;
    width: 33%;/*ELEMENTS ARE EQUALLY ALLIGNED*/
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
}

#main-home{
    margin-top: 120px;
}
#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: chartreuse;
}
#tabs-bottom > a {
    float: left;
    display: block;
    width: 50%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;

}
#main {
    margin-top: 119px;
    /*width: 100%;*/
    background-image: url('images/map-blur.png');
    background-repeat: repeat-x;
    /*height: 200px;*/
}

#content {
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.Info-box {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

.Info-box > img {
    height: 70px;
    margin: 10px;
    float: left;
}

.Info-box > h3 {
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #572800;
}

.Info-box > p {
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.Info-box > .right {
    float: right;
    margin-top: 25px;
    height: 40px;
}
<<<<<<< HEAD
=======

/* ANIMALS CONTENT  */

#info-box-full {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;

}

#info-box-full > img {
    display: block;
    margin: 0 auto; /* on the center*/
    /*width: 100%;*/
}

#info-box-full > h3 {
    text-align: center;
}
      /*  weather page  */
.info-box-weather-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}
.info-box-weather-icon-heading {
    font-size: 65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

/* FEEDBACK */

input{
    width: 100%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid #929292;
}
textarea{
    width: 100%;
    height :25px;
    margin : 12px 0;
    border : 1px solid #929292;
}
.button{
    display : block;
    background-color: chartreuse;
    text-decoration : none;
    text-align  : center;
    color       : white;
    font-size   : 16px;
    font-weight : 600;
    margin : 12px 0;
    padding : 8px 0;
}
>>>>>>> e515385 (pine city zoo 2)
